.Login {
    text-align: center;
    background-image: url('../../../assets/images/login.jpg');
    background-size: cover;
  }
  
  input {
    margin: 4px;
    border-radius: 1px;
    border-color: transparent;
    height: 20px;
    width: 50%;
    display: block;
  }
  
  input[type="submit" i] {
    width: 25%;
    background-color: white;
    height: 34px;
    font-variant-caps: all-petite-caps;
    font-size: 16px;
  }
  
  input:focus {
    outline: 0 solid transparent;
    border-color: transparent;
    -webkit-box-shadow: 0 0 5px 1px rgba(231,76,60,.75);
    -moz-box-shadow: 0 0 5px 1px rgba(231,76,60,.75);
    box-shadow: 0 0 5px 1px rgba(231,76,60,.75);
  }
  
  .Login-logo {
    margin-left: 6px;
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  .title {
    margin: 10px 0px 12px 0px;
    text-shadow: 2px 2px 11px black;
  }
  
  .Login-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .login-form-container {
    width: 80%;
    display: block;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    min-height: 8em;
    padding: 1em;
    text-align: -webkit-center;
  }
  
  .Login-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  