.PictureInstructions {
    padding: 20px 10px;

    h1 {
        text-align: center;
        margin: 2.5px 2.5px;
        font-display: 'Robotica';
        color: white;
        font-size: 1.5em;
    }
    .plane-dot {
        width: 15px;
        height: 15px;
        float: right;
        background-color: black;
        margin-top: -45px;
        margin-right: 177px;

        &.top {
            margin-top: 26px;
            position: absolute;
            margin-left: 181px;
        }
    }

    .plane {
        display: flex;
        height: 250px;
        max-width: 80%;
        margin: auto;
        background-color: white;

        img {
            display: flex;
            flex-shrink: 3;
            max-width: 100%;
            transform: scaleX(-1) rotateZ(270deg);
        }
    }

    button {
        background-color: white;
        margin: auto;
        display: flex;
        margin-top: 10px;
        padding: 10px 20px;
        border: 1px solid gray;
        -webkit-appearance: none;
    }
}