.Instructions.CreateQR {

    .name-input {
        display: block;
        margin: auto;
    }

    #canvas {
        height: 15em !important;
        width: 15em !important;
        margin: auto;
        display: block;
    }
}