
    .loading {
        color: white;
        margin: auto;
        margin-top: 60px;
    }

    button {
        margin-top: 20px;
    }

    .camera{
        width: 100%;

        margin-top: 20px;
        margin-bottom: 60px; 
    }

    .next-plant{
        display:flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
    }
