.Camera.Plant {
    .loading {
        color: white;
        margin: auto;
        margin-top: 60px;
    }

    button {
        margin-top: 20px;
    }
    .photo {
        width: 70%;
        height: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .live-camera {
        object-fit: contain;
        margin: auto;
        width: 70%;
        height: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.Camera.Success {
    margin-top: 40%;
}