.Camera.QR {

    .loading {
        color: white;
        margin: auto;
        margin-top: 60px;
    }

    p {
        margin: auto;
        text-align: center;
        color: white;
        margin-top: 5px;
    }
    
    button {
        margin-top: 80px;
    }
}