.qr-scan-container{
    padding:20px;
    background-color: rgba(106, 193, 169,0.2);
    .qr-scan-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .qr-scan-title{
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
        }
    }

}